h2 {
    font-family: "Chonburi", cursive;
    color: #F5AE79;
}

h4 {
    color: black;
}

body, th {
    font-family: "Montserrat", sans-serif;
}

th {
    color: #F5AE79;
}

body {
    background-image: url("../images/train.jpg");
    background-size: cover;
}

.container {
    background-color: rgba(0,0,0,0.7);
    color: #fff;
}

#header {
    color: #F5AE79;
    background-color: rgba(0,0,0,0);
    font-family: "Limelight", cursive;
    font-size: 50px;
}

/* Media Queries */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .container {
        width: 100%;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .container {
        width: 100%;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .container {
        width: 100%;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .container {
        width: 100%;
    }
}